<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Ideal</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>

    <h1> Beauty Ideal</h1>

    <p>
        Encuentra el maquillaje ideal para tu tipo de piel
    </p>

</header>

<section class="hero">

    <h2>Descubre tu tipo de piel ✨</h2>

    <p>
        Aprende a reconocer las características de tu piel y encuentra
        los productos ideales para tu rutina de maquillaje y cuidado facial.
    </p>

    <button class="btn">
        Explorar
    </button>